.container {
    text-align: center;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin: 20px auto;
    justify-content: center;
    
   
  }
  
  .cell {
    width: 100px;
    height: 100px;
    background-color: royalblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1em;
    margin-top: 20px;
  }
  
  .cell:hover {
    background-color: #ddd;
  }
  